<!DOCTYPE html>
<html>
<head>
	<title>Image Browse</title>

	<link rel="stylesheet" href="https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css">
	<style type="text/css">
	.clearfix:before,
	.clearfix:after {
		display: table;
		content: "";
	}

	.clearfix:after {
		clear: both
	}
	</style>
</head>
<body>
	
	<div id="app-container">
		<div v-if="metadatas.length > 0">
			<el-row 
				v-for="(rv, rind) in grids.rows" 
				:key="rv" 
				:gutter="5" 
				style="margin-bottom: 5px;">
				<el-col v-for="(cv, cind) in grids.cols" :key="rv + cv + ''" :span="grids.span">
					<el-card 
						v-if="rind * grids.cols + cind < metadatas.length" 
						:body-style="{ padding: '5px' }">
						<el-image 
							:src="getItem(rind, cind).filepath"
							fit="cover"
							lazy
							:preview-src-list="[getItem(rind, cind).filepath]"
							style="width: 300px; height: 300px; border: 2px solid green; border-radius: 5px;"></el-image>
						<el-row :gutter="5">
							<el-col :span="16">
								<el-input 
									v-model="getItem(rind, cind).probability" 
									clearable
									:disabled="true"
									placeholder="请输入概率">
									<template slot="prepend">概率</template>
								</el-input>
							</el-col>
							<el-col :span="8">
								<el-select 
									v-model="getItem(rind, cind).category"
									:disabled="true"
									placeholder="请选择类别">
									<el-option
										v-for="(it, ind) in categorys"
										:key="it"
										:label="it"
										:value="ind"/>
								</el-select>
							</el-col>
						</el-row>
					</el-card>
				</el-col>
			</el-row>
		</div>
		<div v-else style="text-align: center;">
			<h1>暂无图片</h1>
		</div>
	</div>

</body>

	<script src="static/components/vue/vue.js"></script>
	<script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="static/components/browse.js"></script>
</html>
