<!DOCTYPE html>
<html>
<head>
	<title>Image Recognition</title>

	<!-- <link rel="stylesheet" href="static/components/element-ui/index.css"> -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css">
</head>
<body>
	
	<div id="app-container">
		<el-row>
			<el-col>
				<div style="text-align: right;margin-bottom: 10px;">
					<el-button 
						type="primary" 
						icon="el-icon-upload" 
						@click="uploadVisible = true">上传</el-button>
					<el-button 
						type="success" 
						icon="el-icon-check" 
						:disabled="disableSave" 
						@click="saveData" 
						v-loading.fullscreen.lock="loading">保存</el-button>
				</div>
			</el-col>
		</el-row>

		<el-row>
			<el-col>
				<div v-for="(md, ind) in metadatas" :key="md.final_name + ind">
					<el-row>
						<el-col :span="3">
							<el-image 
								:src="md.filepath"
								fit="cover"
								lazy
								:preview-src-list="[md.filepath]"
								style="width: 200px; height: 200px"/>
						</el-col>
						<el-col :span="6">
							<el-input 
								v-model="md.probability" 
								clearable
								style="width: 200px;"
								placeholder="请输入概率">
								<template slot="prepend">概率</template>
							</el-input>
							<el-select 
								v-model="md.category"
								style="width: 200px;"
								placeholder="请选择类别">
								<el-option
									v-for="(it, ind) in categorys"
									:key="it"
									:label="it"
									:value="ind"/>
							</el-select>
						</el-col>
					</el-row>
				</div>
			</el-col>
		</el-row>

		<el-dialog :visible.sync="uploadVisible" title="选择图片">
			<el-upload
				ref="upload"
				action="#"
				list-type="picture-card"
				:multiple="true"
				:auto-upload="false"
				:on-change="handleChange"
				:on-remove="handleRemove"
				:http-request="appendFile">
				<i class="el-icon-plus"></i>
			</el-upload>
			<span slot="footer" class="dialog-footer">
				<el-button @click="uploadVisible = false">取 消</el-button>
				<el-button type="primary" 
					@click="submitFile"
					:disabled="disableUpload"
					v-loading.fullscreen.lock="loading">确 定</el-button>
			</span>
		</el-dialog>
	</div>

</body>

	<script src="static/components/vue/vue.js"></script>
	<!-- <script src="static/components/element-ui/index.js"></script> -->
	<script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="static/components/index.js"></script>
</html>
