<!DOCTYPE html>
<html>
<head>
	<title>Image Recognition</title>

	<!-- <link rel="stylesheet" href="static/components/element-ui/index.css"> -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css">
	<style type="text/css">
	.clearfix:before,
	.clearfix:after {
		display: table;
		content: "";
	}

	.clearfix:after {
		clear: both
	}
	</style>
</head>
<body>
	
	<div id="app-container">
		<el-button size="small" type="primary" @click="handleUpdate">Update</el-button>
		<el-row :gutter="10">
			<el-col :span="5">
				<el-card>
					<el-upload
						action="/upload"
						:on-success="handleSuccess"
						:multiple="true"
						list-type="picture">
						<el-button size="small" type="primary">点击上传</el-button>
					</el-upload>
				</el-card>
			</el-col>
			<el-col :span="19">
				<!-- <el-card>123</el-card> -->
				preview
			</el-col>
		</el-row>
	</div>

</body>

	<script src="static/components/vue/vue.js"></script>
	<!-- <script src="static/components/element-ui/index.js"></script> -->
	<script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="static/components/index.js"></script>
</html>
