<!DOCTYPE html>
<html>
<head>
	<title>岩性识别</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="static/components/next-uikit/fonts/icomoon/style.css">
	<link rel="stylesheet" href="static/components/next-uikit/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="static/components/next-uikit/css/nouislider.min.css"> -->
	<!-- <link rel="stylesheet" href="static/components/next-uikit/css/bootstrap-datetimepicker.css"> -->
	<link rel="stylesheet" href="static/components/next-uikit/css/style.css">
</head>
<body>
    
	<div class="site-section bg-image" 
		style="background-image: url('static/images/home_bg.jpg')">
		<div class="container">
			<div class="row">
				<div class="col-md-7 mx-auto text-center align-self-center">
		        	<img src="static/images/logo.jpg" alt="Logo" 
		        		class="img-fluid w-50 rounded-circle">
					<h1 class="font-weight-bold mb-0 text-white">拍照识岩性</h1>
					<div class="row mb-5">
						<div class="col">
							<button class="btn btn-lg btn-info">
								<span class="icon-upload mr-1"></span> 上  传
							</button>
							<button class="btn btn-lg btn-success">
								<span class="icon-image mr-1"></span> 浏  览
							</button>
							<button class="btn btn-lg btn-warning">
								<span class="icon-download mr-1"></span> 下  载
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="image-preview" class="site-section">
		preview-image
	</div>

	<div id="image-preview" class="site-section">
		preview-image
	</div>

	<!-- <script src="static/components/next-uikit/js/jquery-3.3.1.min.js"></script> -->
	<!-- <script src="static/components/next-uikit/js/popper.min.js"></script> -->
	<!-- <script src="static/components/next-uikit/js/bootstrap.min.js"></script> -->
	<!-- <script src="static/components/next-uikit/js/moments.min.js"></script> -->
	<!-- <script src="static/components/next-uikit/js/bootstrap-datetimepicker.js"></script> -->
	<!-- <script src="static/components/next-uikit/js/nouislider.min.js"></script> -->
	<!-- <script src="static/components/next-uikit/js/main.js"></script> -->
</body>
</html>
